.search {
  position: relative;
  width: 360px;
  max-width: 100%;
  margin: 24px auto;
  &__input {
    display: block;
    width: 100%;
    outline: none;
    line-height: 30px;
    padding: 0 40px 0 16px;
    box-sizing: border-box;
    border-radius: 16px;
    border: 1px solid #25202075;
  }
  &__button {
    position: absolute;
    top: 3px;
    right: 12px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    height: 30px;
    width: 30px;
    color: rgba(black, 0.6);
  }
}

.chips {
  display: flex;
  justify-content: center;
}
