<div class="container">
  <form class="search">
    <input class="search__input" [formControl]="inputTagFilter" type="text" matInput autocomplete="off"
      placeholder="ジャンルを入力してください">
    <button class="search__button">
      <mat-icon>search</mat-icon>
    </button>
  </form>

  <div class="tag-list">
    <mat-selection-list (selectionChange)="updateTags($event)" dense>
      <mat-list-option *ngFor="let tag of tags" [value]="tag.value">
        {{ tag.value }}({{ tag.count }})
      </mat-list-option>
    </mat-selection-list>
  </div>

  <ul>
    <li *ngFor="let userItem of userItems">{{ userItem.name }}</li>
  </ul>

  <app-user-card></app-user-card>
</div>
