@import "mixins";

.header {
  background: #fff;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.spacer {
  flex: 1;
}
.matToolBar {
  @include sp {
    height: 64px;
  }
}
.logo {
  margin-left: 56px;
  margin-top: 8px;
  img {
    height: 24px;
  }
}
.button {
  margin-right: 24px;
}
.avator {
  margin-right: 16px;
  background: center / cover;
  border-radius: 50%;
  box-shadow: none;
}
