<div class="container">
  <h1>利用規約</h1>

  <p>
    以下の「利用規約」には、yu（以下「当社」といいます）が運営する「TSUMU」をご利用いただくにあたり、お客様に遵守していただかなければならない事項及び、当社とお客様との権利義務関係が定められております。本サービスをご利用いただくには、本規約の全ての条項に同意していただく必要があります。
  </p>

  <div class="section">
    <h2>第１条（定義）</h2>
    <p>本規約において使用する用語の意義は、次の各号に定めるとおりとします。</p>
    <p>（１）「本規約」とは、「TSUMU利用規約」をいいます。</p>
    <p>（２）「その他の規程」とは、ガイドライン、ヘルプ、その他の本規約以外の本サービスに関する規程をいいます。</p>
    <p>（３）「本サービス」とは、当社が運営する「U2plus」と称するサービス（その理由を問わずサービスの名称又は内容が変更された場合、当該変更後のサービスを含みます）をいいます。</p>
    <p>（４）「ユーザー」とは、本サービスを利用する全ての者をいいます。</p>
    <p>（５）「登録ユーザー」とは、第４条に定める登録手続きを経て、本サービスを利用する者をいいます。</p>
    <p>（６）「利用希望者」とは、登録ユーザーとして本サービスを利用することを希望する者をいいます。</p>
    <p>（７）「登録事項」とは、利用希望者が本サービスの利用申込の際に登録する当社所定の情報をいいます。</p>
    <p>（8）「本サイト」とは、本サービスに関して当社が運営するウェブサイトをいいます。</p>
    <p>（9）「利用環境」とは、ハードウェア、ソフトウェア、インターネット接続回線、セキュリティの確保等、本サービスの利用に必要な環境をいいます。</p>
    <p>
      （10）「送信情報」とは、ユーザーが本サービスを利用して当社、他のユーザー又は第三者に送信したテキスト、イラスト、画像、音楽、動画その他当社所定の情報（これをもとに本サービス上で自動生成された情報や処理結果も含みます）をいいます。
    </p>
    <p>（11）「知的財産権等」とは、特許権、実用新案権、意匠権、商標権、著作権、不正競争防止法上の権利、パブリシティ権、その他一切の財産的又は人格的権利をいいます。</p>
  </div>

  <div class="section">
    <h2>第２条（適用範囲）</h2>
    <p>１．本規約は、当社とユーザーとに適用されます。ユーザーは、本サービスを利用することにより、本規約の全ての内容に同意したものとみなされます。</p>
    <p>２．当社は、本サイト上に、その他の規程を定める場合があります。その他の規程は、本規約の一部を構成するものとしますが、本規約とその他の規程が異なる場合は、本規約が優先して適用されます。</p>
  </div>

  <div class="section">
    <h2>第３条（本サービスの内容等）</h2>
    <p>１．ユーザーは、本規約で認められた範囲で、当社の定める方法に従い、自らの責任と判断において本サービスを利用するものとします。</p>
    <p>２．本サービスの内容は、本サイト上に定めるものとします。</p>
    <p>３．ユーザーは、自らの責任と費用において利用環境を整備します。</p>
    <p>
      ４．当社は、次の各号につき、いかなる保証も行うものではありません。さらに、ユーザーが当社から直接又は間接に本サービスに関する情報を得た場合であっても、当社は、ユーザーに対し、本規約において規定されている内容を超えて、いかなる保証も行うものではありません。
    </p>
    <p>（１）本サービスの利用に起因して、利用環境に不具合や障害が生じないこと</p>
    <p>（２）本サービスが正確かつ完全であること</p>
    <p>（３）本サービスが永続的に稼働すること</p>
    <p>（４）本サービスがユーザーの特定の目的に適合し、有用であること</p>
    <p>（５）本サービスがユーザーに適用のある法令、業界団体の内部規則等に適合すること</p>
    <p>
      ５．当社が本サービスにおいて取り扱う第三者が提供するサービス・商品、第三者が運営するウェブサイト、その他第三者による投稿等（併せて以下「第三者提供サービス等」といいます）がある場合、ユーザーは、第三者提供サービス等について当該第三者が掲げる提供条件、利用規約等に従うものとし、当社は第三者提供サービス等に対し何らの推奨や保証を行うものではなく一切責任を負いません。
    </p>
  </div>

  <div class="section">
    <h2>第４条（登録及び退会）</h2>
    <p>１．利用希望者は、本規約の内容に同意した上で、当社所定の方法により、登録の申込を行うものとします。利用希望者は、登録事項が全て正確であることを保証します。</p>
    <p>２．当社は、当社所定の基準により、利用希望者の登録の可否を判断し、登録を認める場合には、その旨通知します。当該通知で定められた時点より、利用希望者は登録ユーザーとして登録されます。</p>
    <p>３．当社は、利用希望者が以下のいずれかに該当し又は該当すると当社が判断した場合は、利用希望者の登録を認めないことができます。なお、当社は、上記判断に関する理由を開示する義務は負いません。</p>
    <p>（１）当社所定の方法によらず登録の申込を行った場合</p>
    <p>（２）登録事項の全部又は一部につき、虚偽、誤記又は記載漏れがあった場合</p>
    <p>（３）本規約に違反するおそれがあると当社が判断した場合</p>
    <p>（４）過去に本規約に違反した者又はその関係者であると当社が判断した場合</p>
    <p>（５）未成年者、成年被後見人、被保佐人、被補助人のいずれかであり、法定代理人、成年後見人、保佐人、補助人の同意等を得ていなかった場合</p>
    <p>（６）その他当社が登録を妥当でないと判断した場合</p>
    <p>４．登録ユーザーは、登録事項に変更が生じた場合は、直ちに当社所定の方法により、登録事項の変更の手続きを行うものとします。これを怠ったことによって登録ユーザーが損害を被ったとしても、当社は一切責任を負いません。</p>
    <p>５．登録ユーザーは、当社所定の方法により、退会することができるものとします。</p>
  </div>

  <div class="section">
    <h2>第７条（利用料金）</h2>
    <p>本サービスの利用料金は、無料とします。ただし、当社の裁量で、ユーザーへの事前の通知により本サービスの全部又は一部を有料化することがあります。</p>
  </div>

  <div class="section">
    <h2>第８条（権利帰属）</h2>
    <p>１．本サービスに関する知的財産権等は、全て当社又は、当社がライセンスを得た権利者である第三者に帰属します。</p>
    <p>
      ２．本規約に定める本サービスの利用許諾は、本規約に明示的に規定される場合を除き、本サービスに関する当社の知的財産権等に関し、いかなる権利も許諾するものではありません。ユーザーは、本サービスが予定している利用態様を超えて、本サービスを利用することはできません。
    </p>
    <p>３．ユーザーは、本サービスに対して、リバースエンジニアリング、逆コンパイル、又は逆アセンブラその他本サービスを解析しようと試みてはならないものとします。</p>
  </div>

  <div class="section">
    <h2>第９条（送信情報）</h2>
    <p>
      １．ユーザーは、送信情報について、自らが送信することについて適法な権利を有していること及び当社、他のユーザー又は第三者の権利を侵害しないこと又は侵害するおそれがないことを保証します。当社は、送信情報が他のユーザー又は第三者の権利を侵害しないこと又は侵害するおそれがないことを一切保証するものではなく、送信情報により生じた損害等について何らの責任を負いません。
    </p>
    <p>
      ２．ユーザーは、送信情報にかかる知的財産権等を、送信後も引き続き保有します。当社は、本サービスの運営のために必要な範囲に限って、送信情報を使用又は利用（複製（当社の運営する全てのサイトへの転載を含みます）、翻案、公衆送信及びそのために必要な送信可能化を含み、これらに限りません）することができるものとします。ユーザーはかかる送信情報の使用又は利用につき、当社ならびに当社より正当に権利を取得した第三者及び当該第三者から権利を承継した者に対し、著作者人格権を行使しないことに同意します。
    </p>
    <p>
      ３．当社は、送信情報について、安全に管理するよう努めますが、本サービスが、本質的に情報の喪失、改変、破壊等の危険が内在するインターネット通信網を利用した電磁的サービスであることを鑑みて、ユーザーは、送信情報を自らの責任においてバックアップするものとします。当該バックアップを怠ったことによってユーザーが被った損害について、当社は送信情報の復旧を含めて、一切責任を負いません。
    </p>
    <p>
      ４．当社は、以下のいずれかに該当し又は該当すると当社が判断した場合は、事前に通知することなく、送信情報の全部又は一部を閲覧、保存、復元し、又は第三者へ開示することがあります（以下「閲覧等」といいます）。なお、当社は上記判断に関する理由を開示する義務は負いません。
    </p>
    <p>（１）ユーザーの同意を得たとき</p>
    <p>（２）当社が閲覧等の同意を求める連絡をユーザーに行ってから７日以内に、当該ユーザーから回答がなかったとき</p>
    <p>（３）裁判所、行政機関、警察等の公的機関から、法令に基づく正式な要請を受けたとき</p>
    <p>（４）法律に従い閲覧等の義務を負うとき</p>
    <p>（５）ユーザーが本規約所定の禁止行為を行ったとき</p>
    <p>（６）ユーザー又は第三者の生命・身体・その他重要な権利を保護するために必要なとき</p>
    <p>（７）本サービスのメンテナンスや技術的不具合解消のために必要があるとき</p>
    <p>（８）上記各号に準じる必要性があるとき</p>
    <p>
      ５．当社は、以下のいずれかに該当し又は該当すると当社が判断した場合は、事前に通知することなく、送信情報について、その全部又は一部を削除し又は公開・掲載を一時停止することができます（以下「削除等」といいます）。当社は、削除された送信情報について、当該情報の復旧を含めて、一切責任を負わず、また、上記判断に関する理由を開示する義務を負いません。
    </p>
    <p>（１）ユーザーの同意を得たとき</p>
    <p>（２）当社が削除等の同意を求める連絡をユーザーに行ってから７日以内（法令の定めるところに従いこれより短い期限になる場合があります）に、当該ユーザーから回答がなかったとき</p>
    <p>（３）裁判所、警察等の公的機関から、法令に基づく正式な要請を受けたとき</p>
    <p>（４）法律に従い削除等の義務を負うとき</p>
    <p>（５）ユーザーが本規約所定の禁止行為を行ったとき</p>
    <p>（６）ユーザー又は第三者の生命・身体・その他重要な権利を保護するために必要なとき</p>
    <p>（７）本サービスのメンテナンスや技術的不具合解消のために必要があるとき</p>
    <p>（８）第12条によって本サービスが変更、中断、終了したとき</p>
    <p>（９）上記各号に準じる必要性があるとき</p>
    <p>６．第４項及び前項にかかわらず、当社は、送信情報を監視する義務は負いません。</p>
  </div>

  <div class="section">
    <h2>第10条（本サービスの変更、中断、終了）</h2>
    <p>
      １．当社は、事業上の理由、システムの過負荷・システムの不具合・メンテナンス・法令の制定改廃・天災地変・偶発的事故・停電・通信障害・不正アクセス、その他の事由により、本サービスをいつでも変更、中断、終了することができるものとし、これによってユーザーに生じたいかなる損害についても、一切責任を負いません。
    </p>
    <p>２．当社は、前項の変更、中断、終了にあたっては、事前に相当期間をもって予告するよう努めます。ただし、緊急やむを得ない場合は、この限りではありません。</p>
  </div>

  <div class="section">
    <h2>第11条（紛争処理及び損害賠償）</h2>
    <p>１．ユーザーは、本サービスの利用に関連して当社に損害を与えた場合、当社に対し、その損害を賠償するものとします。</p>
    <p>
      ２．ユーザーが、本サービスに関連して第三者からクレームを受け又は第三者との間で紛争が生じた場合、ユーザーは、直ちにその内容を当社に通知するとともに、ユーザーの費用と責任において、当該クレーム又は紛争を処理し、その進捗及び結果を当社に報告するものとします。当社は、当該クレーム又は紛争の解決につき、何らの協力、支援等も行わないこと、及び当社の裁量で、当社の防御のために必要な措置、対応をとる場合があることを、ユーザーはあらかじめ了承するものとします。
    </p>
    <p>
      ３．当社が、ユーザーによる本サービスの利用に関連して第三者からクレームを受け又は第三者との間で紛争が生じた場合、ユーザーは、ユーザーの費用と責任において、当該クレーム又は紛争を処理し、その進捗及び結果を当社に報告するとともに、当社が支払いを余儀なくされた金額その他の損害を賠償するものとします。当社は、当該クレーム又は紛争の解決につき、何らの協力、支援等も行わないこと、及び当社の裁量で、当社の防御のために必要な措置、対応をとる場合があることを、ユーザーはあらかじめ了承するものとします。
    </p>
    <p>４．当社は、本サービスの提供に際して、自己の故意又は重過失によりユーザーに損害を与えた場合についてのみこれを賠償するものとします。本規約における当社の免責規定は、当社に故意又は重過失が存する場合には適用しません。</p>
    <p>
      ５．当社がユーザーに対して損害賠償義務を負う場合（前項の場合又は消費者契約法その他の適用による場合等）において賠償すべき損害の範囲は、ユーザーに現実に発生した通常の損害に限る（逸失利益その他の特別の損害は含みません）ものとします。なお、本条は、債務不履行、瑕疵担保責任、原状回復義務、不当利得、不法行為その他請求原因を問わず、全ての損害賠償等に適用されるものとします。
    </p>
  </div>

  <div class="section">
    <h2>第12条（不可抗力等）</h2>
    <p>当社は、偶発的事故、通信障害・不正アクセス、その他当社の合理的な支配を超える事由等によってユーザーに生じたいかなる損害について一切責任を負いません。</p>
  </div>

  <div class="section">
    <h2>第13条（秘密保持）</h2>
    <p>ユーザーは、本サービスに関連して当社がユーザーに対して秘密に扱うことを指定して開示した情報について、当社の事前の書面による承諾がある場合を除き、開示目的以外に利用せず、また、第三者に開示しないものとします。</p>
  </div>

  <div class="section">
    <h2>第14条（本規約の変更）</h2>p
    <p>１．当社は、その理由を問わず、本規約をいつでも任意に変更することができるものとし、ユーザーはこれに同意します。</p>
    <p>２．当社が別途定める場合を除き、本規約の変更は、本サイトに掲載する方法によってユーザーへ通知します。</p>
    <p>３．本規約の変更は、前項の通知において指定した日付より効力を生じるものとします。</p>
    <p>４．ユーザーは本規約の変更後も本サービスを使い続けることにより、変更後の本規約に対する同意をしたものとみなされます。</p>
  </div>

  <div class="section">
    <h2>第15条（完全合意）</h2>
    <p>本規約は、当事者間の完全な合意を構成し、口頭又は書面を問わず、本規約にかかる当事者間の合意、表明及び了解に優先します。</p>
  </div>
</div>
