<div class="container">
  <h1>利用規約</h1>


  <h2>1. お客様の承認</h2>
  <p>
    TSUMUのウェブサイトまたはTSUMUのウェブサイト上で、ウェブサイトを通じて、もしくはウェブサイトから提供されるTSUMUの製品、ソフトウェア、データフィード及びサービス（以下、総称して「本サービス」といいます。）を利用又は訪問することにより、お客様は、本書に記載される規約
    (以下「本サービス条件」といいます。)同様に、ここに参照され本サービス条件の一部を構成するTSUMUのコミュニティガイドラインに同意するものとします。お客様が本書に記載される規約、TSUMUのプライバシーポリシーまたはコミュニティガイドラインに同意しない場合には、TSUMUウェブサイトをご利用にならないで下さい。本サービスは、yuにより提供され、
    本サービス条件においては、yu並びにその製品及びサービスを共にTSUMUといいます。</p>
  <p>
    TSUMUは、これら本サービス条件に重大な変更がなされた場合には、お客様にその旨通知するよう試みることもありますが、お客様は、定期的に、最新版をご確認下さい。TSUMUは、その単独の裁量により、これら本サービス条件及び諸ポリシーをいつでも修正又は改訂することができ、お客様は、それら修正又は改訂に拘束されることに同意します。本サービス規約は、第三者に属する権利又は利益を付与するものとはみなされません。
  </p>

  <h2>2. 本サービス</h2>
  <p>
    本サービス条件は、本サービス上への本コンテンツの投稿者でもある利用者を含む、本サービスの全ての利用者に対して適用されます。「本コンテンツ」には、本サービス上で閲覧し、本サービスを通じてアクセスし、または本サービスに投稿する、文章、ソフトウェア、スクリプト、グラフィックス、写真、オーディオビジュアルの組み合わせ、インタラクティブな機能及びその他のマテリアルを含みます。本サービスには、TSUMUのあらゆる側面が含まれます(TSUMUチャンネル、その他のアプリケーションなどの、TSUMUウェブサイトで提供される、すべての製品、ソフトウェア、及びサービスを含みますが、これらに限られません。)
  </p>
  <p>
    本サービスは、TSUMUが所有又は管理しない第三者のウェブサイトへのリンクを含むことがあります。TSUMUは、いかなる第三者のウェブサイトのコンテンツ、プライバシーポリシー又は運用について管理しておらず、これらにつき責任を負うものではありません。また、TSUMUは、いかなる第三者のサイトのコンテンツを検閲又は編集することはなく、また、検閲又は編集することはできません。本サービスを利用することにより、お客様は、お客様による第三者のウェブサイトの利用から生じる一切の責任から、TSUMUを明示的に免除するものとします。
  </p>
  <p>したがって、お客様が本サービスから他のウェブサイトに移動する際には、それをよく認識し、お客様が訪問される他の各ウェブサイトの条件及びプライバシーポリシーを読まれることをお勧めいたします。</p>

  <h2>3. アカウント</h2>
  <p>
    本サービスのいくつかの機能にアクセスするためには、Twitterアカウントを作成する必要があります。お客様は、決して許可なく他人のアカウントを使用してはなりません。アカウントを作成する際、お客様は、正確かつ完全な情報を提供しなければなりません。お客様は、ご自分のアカウント上で起こる活動につき単独で責任を負い、ご自分のアカウントのパスワードを安全に保持しなければなりません。お客様は、ご自分のアカウントの安全に対する違反又は無断使用に関して、TSUMUに対して直ちに通知しなければなりません。
  </p>
  <p>TSUMUは、お客様のアカウントの無断使用からお客様に生じる損失につき責任を負いません。お客様は、当該無断使用に起因するTSUMU又はその他の者の損失につき責任を負うことがあります。</p>


  <h2>4. 本サービスの一般的な利用--許可及び制限事項</h2>
  <p>TSUMUは、ここに、本サービス条件に定める本サービスにアクセスし、利用する許可をお客様に付与します。ただし、以下を前提とします。</p>
  <p>
    お客様は、TSUMUの事前の書面による承認なく、本サービスまたは本コンテンツのいかなる部分(本コンテンツ(以下に定義します。)を含みますが、これに限られません。)をもいかなる媒体によっても配布しないことに合意します。ただし、CAMPが、かかる配布を可能にする本サービスの機能を提供している場合は除きます。
  </p>
  <p>お客様は、本サービスのどの一部についても変更又は修正しないことに合意します。</p>
  <p>お客様は、本サービス自体の動画再生ページ、又はその他CAMPが明示的に認めた手段以外のあらゆる技術及び手段を通じて、本コンテンツにアクセスしないことに合意します。</p>
  <p>お客様は、本サービスを、CAMPの事前の書面による承諾なく、以下に記載する商業目的に利用しないことに合意します。</p>
  <p>本サービスに対するアクセスの販売</p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>

  <h2>.5 お客様によるサイト上のコンテンツの使用</h2>
  <p>
    上記の一般的な制限に加え、以下の制限及び条件が、お客様による本コンテンツの使用について特に適用されます。本サービス上の本コンテンツ並びにこれらに含まれる商標、サービス・マーク及びロゴ(以下｢本マーク等｣といいます。)を含みますが、これらに限られません。)は、法令に基づく著作権及びその他知的財産権にしたがって、CAMPにより所有され、又は、TSUMUに対しライセンスが付与されています。
  </p>
  <p>
    本コンテンツは、｢現状有姿｣でお客様に提供されています。お客様は、本コンテンツに、本サービスの機能により意図されており本サービス条件により認められている限度で、参考目的での個人的な利用のためにのみアクセスすることができます。お客様は、「ダウンロード」または同様のリンクが本コンテンツについて本サービス上でTSUMUにより表示されている場合を除き、いかなる本コンテンツもダウンロードしてはなりません。お客様は、TSUMUまたは関連する本コンテンツのライセンサーからの事前の書面による同意なく、コピー、複製、送信可能化、出版、翻案、配布、放送、表示、販売、ライセンス付与又はその他一切の他の目的のために利用されてはなりません。TSUMU及びそのライセンサーは、本コンテンツ内で並びに本コンテンツに対して明示的に付与されていない、一切の権利を留保します。
  </p>
  <p>
    お客様は、本サービス上のセキュリティに関連する機能、本コンテンツの利用や複製の作成を防止、制約する機能、または、本サービスまたは本サービス上の本コンテンツの利用に制限を付す機能について、これらを回避、停止、またはその他の方法により妨害しないものとします。
  </p>
  <p>
    お客様は、本サービスを利用する際、種々の情報源からの本コンテンツにさらされること、及び、TSUMUが本コンテンツについての又は本コンテンツに関連する正確性、利用価値、安全性若しくは知的財産権に対して責任を負わないことを理解しています。お客様は、さらに、お客様が不正確、侮辱的、下品又は不快な本コンテンツにさらされる可能性があることを理解してこれを了承し、これにつきTSUMUに対して有する又は有する可能性のある法的又は衡平法(エクイティ)上の権利又は救済方法を、放棄することに合意してここに放棄し、お客様による本サービスの利用に関連する全事項に関して、法令上最大限可能な限り、TSUMU、その所有者/運営者、関係者及び/又はライセンサーを補償し、損害を与えないものとします。
  </p>

  <h2>6. お客様の本コンテンツ及び行為</h2>
  <p></p>

  <h2>7.アカウントの終了に関する方針</h2>
  <p></p>

  <h2>8. 著作権に関する方針</h2>
  <p></p>

  <h2>9. 保証の放棄</h2>
  <p></p>

  <h2>10. 責任の限定 法令上最大限可能な限り</h2>
  <p></p>

  <h2>11. 補 償</h2>
  <p></p>

  <h2>12. 本サービス条件を受諾する能力</h2>
  <p></p>

  <h2>13. 譲 渡</h2>
  <p></p>

  <h2>14. 一 般</h2>
  <p></p>
</div>
