<div class="container">
  <h1>利用規約</h1>


  <h2>1. お客様の承認</h2>
  <p>
    TSUMUのウェブサイトまたはTSUMUのウェブサイト上で、ウェブサイトを通じて、もしくはウェブサイトから提供されるTSUMUの製品、ソフトウェア、データフィード及びサービス（以下、総称して「本サービス」といいます。）を利用又は訪問することにより、お客様は、本書に記載される規約
    (以下「本サービス条件」といいます。)同様に、ここに参照され本サービス条件の一部を構成するTSUMUのコミュニティガイドラインに同意するものとします。お客様が本書に記載される規約、TSUMUのプライバシーポリシーまたはコミュニティガイドラインに同意しない場合には、TSUMUウェブサイトをご利用にならないで下さい。本サービスは、yuにより提供され、
    本サービス条件においては、yu並びにその製品及びサービスを共にTSUMUといいます。</p>
  <p>
    TSUMUは、これら本サービス条件に重大な変更がなされた場合には、お客様にその旨通知するよう試みることもありますが、お客様は、定期的に、最新版をご確認下さい。TSUMUは、その単独の裁量により、これら本サービス条件及び諸ポリシーをいつでも修正又は改訂することができ、お客様は、それら修正又は改訂に拘束されることに同意します。本サービス規約は、第三者に属する権利又は利益を付与するものとはみなされません。
  </p>

  <h2>2. 本サービス</h2>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur quidem praesentium autem nam temporibus
    accusantium animi aspernatur vitae. Maiores fugit pariatur placeat incidunt eius distinctio, nihil rerum a tenetur
    vero?</p>

  <h2>3. アカウント</h2>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur quidem praesentium autem nam temporibus
    accusantium animi aspernatur vitae. Maiores fugit pariatur placeat incidunt eius distinctio, nihil rerum a tenetur
    vero?</p>

  <h2>4. 本サービスの一般的な利用--許可及び制限事項</h2>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil voluptatum amet quo officia tempora nam.
    Consectetur
    sed neque veritatis a, non ex numquam doloremque delectus quisquam labore, dolorum sequi molestias?</p>

  <h2>.5 お客様によるサイト上のコンテンツの使用</h2>
  <p></p>

  <h2>6. お客様の本コンテンツ及び行為</h2>
  <p></p>

  <h2>7.アカウントの終了に関する方針</h2>
  <p></p>

  <h2>8. 著作権に関する方針</h2>
  <p></p>

  <h2>9. 保証の放棄</h2>
  <p></p>

  <h2>10. 責任の限定 法令上最大限可能な限り</h2>
  <p></p>

  <h2>11. 補 償</h2>
  <p></p>

  <h2>12. 本サービス条件を受諾する能力</h2>
  <p></p>

  <h2>13. 譲 渡</h2>
  <p></p>

  <h2>14. 一 般</h2>
  <p></p>
</div>
