<div class="container">
  <a routerLink="/content/{{ noteWithUser.id }}">
    <mat-card class="timeline-card">
      <mat-card-header>
        <div mat-card-avatar class="timeline-header-image" mat-mini-fab
          [style.background-image]="'url(' + noteWithUser.author.avatorURL + ')'">
        </div>
        <mat-card-title>{{ noteWithUser.author.name }}</mat-card-title>
        <mat-card-subtitle>{{ noteWithUser.createdAt.toDate() | date: "M/d h:mm a" }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p>
          {{ noteWithUser.todo }}
        </p>
      </mat-card-content>
    </mat-card>
  </a>
</div>
