<div class="container" *ngIf="user$ | async as user">
  <a routerLink="/content/{{ note.id }}">
    <mat-card class="timeline-card">
      <mat-card-header>
        <div mat-card-avatar class="timeline-header-image" mat-mini-fab
          [style.background-image]="'url(' + user.avatorURL + ')'">
        </div>
        <mat-card-title>{{ user.name }}</mat-card-title>
        <mat-card-subtitle>{{ note.createdAt.toDate() | date: "M/d h:mm a" }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content *ngIf="note">
        <p>
          {{ note.todo }}
        </p>
      </mat-card-content>
    </mat-card>
  </a>
</div>
