.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 24px;
  margin-top: 24px;
}
.no-note {
  margin-top: 24px;
}
.card {
  padding: 8px;
  margin-bottom: 8px;
  max-height: 194px;
}
.note {
  padding: 12px;
  max-height: 154px;
  &__header {
    display: flex;
    text-align: center;
  }
  &__avatar {
    background: center / cover;
    border-radius: 50%;
    box-shadow: none;
  }
  &__items p {
    color: rgba(black, .6);
    margin:0 0 0 16px;
  }
  &__body p {
    max-height: 24px;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
