<div class="container" *ngIf="user$ | async as user">
  <mat-card class="card">
    <div class="content">
      <div class="content__avatar" mat-card-avatar [style.background-image]="'url(' + user.avatorURL +')'"></div>
      <p>{{ user.name }}</p>
      <button class="content__button" mat-stroked-button color="primary" (click)="openDialog()">プロフィールを編集</button>
      <p class="content__bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, nobis dolor enim
        reiciendis explicabo dolore
        cumque, dolores temporibus nostrum eaque quidem sapiente, molestias voluptatem odio repellendus molestiae quis
        accusantium beatae.
      </p>
    </div>
  </mat-card>
</div>
