.content-container {
  max-width: 1024px;
  margin: 0 auto;
}
.header {
  padding: 8px;
  display: flex;
  align-items: center;
  &__spacer {
    flex: 1;
  }
  &__date {
    margin-left: 16px;
  }
}
.section {
  margin: 8px;
  &__title {
    font-size: 18px;
    font-weight: 550;
  }
}
