<div class="container">
  <div class="wrap">
    <div class="hero">
      <div class="hero__message">
        <p>TSUMUはあなたの学びを</p>
        <p>つみあげるサービスです。</p>
      </div>
      <p class="hero__sub">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, aliquid quibusdam. Culpa
        nostrum, veniam sint
        sunt ad tempore incidunt et soluta quos iste ratione eum architecto sit asperiores, vel ipsum!</p>
      <button class="hero__button"><img src="/assets/" alt="">Twitterで始める</button>
    </div>
    <img class="top-image" src="/assets/Book lover-bro.png" alt="">
  </div>
</div>
