@import "mixins";

.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include sp {
    display: block;
  }
}
.hero {
  margin: 0 auto 0;
  &__message {
    font-size: 40px;
    font-weight: 550;
    letter-spacing: 2px;
    span {
      display: block;
    }
  }
  &__sub {
    font-size: 16px;
    color: rgba(black, 0.8);
    max-width: 524px;
  }
  &__item {
    margin-top: 48px;
    text-align: center;
    button {
      position: relative;
      background-color: rgba(29,161,242,1.00);
      color: #ffffff;
      padding: 3px 0;
      padding-right: 36px;
      padding-left: 60px;
      outline: none;
      line-height: 30px;
      border-radius: 24px;
      border: none;
      cursor: pointer;
    }
    img {
      display: inline-block;
      position: absolute;
      width: 24px;
      top: 5px;
      left: 12px;
      margin-left: 18px;
    }
  }
}
.top-image {
  max-width: 520px;
  max-height: 520px;
  margin-top: 48px;
  @include sp {
    width: 340px;
  }
}

.feature {
  margin-top: 48px;
  padding: 16px;
  text-align: center;
  p {
    margin: 0;
    font-size: 34px;
    font-weight: 550;
    line-height: 1.7;
    letter-spacing: 2px;
  }
  mat-card {
    border-radius: 8px;
  }
}

.usage {
  display: flex;
  margin: 128px 0 96px;
  align-items: center;
  justify-content: center;
  @include sp {
    display: block;
  }
}
.item {
  max-width: 297px;
  text-align: center;
  margin-left: 32px;
  @include sp {
    margin-left: 0;
  }
  &__img {
    height: 120px;
    max-width: 100%;
    text-align: center;
  }
  &__title {
    margin-top: 16px;
    font-size: 21px;
    font-weight: 700;
  }
  &__description {
    margin-top: 16px;
    font-size: 14px;
    line-height: 2;
  }
}
