<div class="container">
  <div class="wrap">
    <div class="hero">
      <div class="hero__message">
        <p>
          <span>TSUMUはあなたの学びを</span>
          <span>つみあげるサービスです。</span>
        </p>
      </div>
      <p class="hero__sub">その日学習したものを自分の言葉で振り返り、日々の学びをつみあげていきましょう。簡単に一言まとめるだけでも定着度は変わってくるはずです。
      </p>
      <div class="hero__item" *ngIf="!(user$ | async)">
        <button (click)="login()" [disabled]="isProcessing">
          <img src="/assets/Twitter_Social_Icon_Circle_Color.png" alt="">
          {{ isProcessing ? 'ログイン処理中' : 'twitterでログイン' }}
        </button>
      </div>
    </div>
    <img class="top-image" src="/assets/Book lover-bro.png" alt="">
  </div>
</div>
