<div class="edit-container">
  <h1 matDialogTitle>プロフィールの編集</h1>

  <mat-dialog-content>
    <form [formGroup]="form" (ngSubmit)="saveEdit()">
      <mat-form-field appearance="fill" class="main">
        <div class="textarea">
          <textarea MatInput formControlName="bio" placeholder="自己紹介" autocomplete="off" required matTextareaAutosize
            [matAutosizeMinRows]="3">
          </textarea>
        </div>
      </mat-form-field>
      <mat-form-field class="example-chip-list">
        <mat-chip-list #chipList aria-label="Fruit selection">
          <mat-chip *ngFor="let target of targets" [selectable]="selectable" [removable]="removable"
            (removed)="remove(target)">
            {{target.genre}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input matInput placeholder="学習のジャンル" [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
      </mat-form-field>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button matDialogClose>キャンセル</button>
    <button mat-button color="primary" type="submit">保存</button>
  </mat-dialog-actions>
</div>
<!--
<mat-form-field class="chip-list">
  <mat-chip-list #chipList>
    <mat-chip *ngFor="let target of targets" [selectable]="selectable" [removable]="removable"
      (removed)="remove(target)">
      {{target.genre}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <div class="chips">
      <input MatInput formControlName="tag" placeholder="学習するジャンル" [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)">
    </div>
  </mat-chip-list>
</mat-form-field> -->
