@import "mixins";

.edit-container {
  text-align: center;
  height: 580px;
  max-width: 640px;
  @include sp {
    max-width: 330px;
  }
}
.main {
  width: 100%;
}
.textarea {
  margin-bottom: 24px;
  text-align: center;
  textarea {
    width: 100%;
  }
}
.chip-list {
  text-align: center;
  input {
    margin-top: 16px;
  }
}
.subtitle {
  color: rgba(black, 0.6);
}
.button {
  display: block;
  margin-top: 24px;
  text-align: center;
}
