.edit-container {
  text-align: center;
}
.main {
  width: 600px;
}
.textarea {
  margin-bottom: 24px;
  text-align: center;
  textarea {
    width: 552px;
  }
}
.chip-list {
  text-align: center;
  input {
    margin-top: 16px;
  }
}
.subtitle {
  color: rgba(black, 0.6);
}
.button {
  display: block;
  margin-top: 24px;
  text-align: center;
}
