.container {
  margin: 72px 24px 0;
  text-align: center;
}
.note-container {
  max-width: 1024px;
  margin: 0 auto;
}
.form {
  display: block;
  width: 100%;
  position: relative;
  &__title {
    display: block;
  }
  &__area {
    width: 100%;
  }
  &__stringCount {
    position: absolute;
    top: 144px;
    right: 32px;
    margin: 0;
  }
}
.button {
  margin-bottom: 12px;
}
