<form [formGroup]="form" (ngSubmit)="postNote()">

  <mat-form-field *ngFor="let ctrl of ctrls" appearance="outline">
    <mat-label>{{ctrl.label}}</mat-label>
    <textarea [placeholder]="ctrl.placeholder" [formControlName]="ctrl.name" matInput autocomplete="off" required
      matTextareaAutosize [matAutosizeMinRows]="3" [matAutosizeMaxRows]="10">
          </textarea>
    <mat-error *ngIf="ctrl.control.hasError('required')">テキストを入力してください</mat-error>
    <mat-error *ngIf="ctrl.control.hasError('maxlength')">{{maxLength}}文字以内で入力してください</mat-error>
    <mat-hint>{{ctrl.control.value?.length}}/{{maxLength}}文字</mat-hint>
  </mat-form-field>

  <button [disabled]="form.invalid" mat-flat-button color="primary">
    完了！
  </button>
</form>
