<mat-list dense>
  <mat-nav-list>
    <mat-list-item>
      <mat-icon mat-list-icon>create</mat-icon>
      <a mat-list-item routerLink="note">今日のつみあげ</a>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>timeline</mat-icon>
      <a mat-list-item routerLink="timeline">タイムライン</a>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>search</mat-icon>
      <a mat-list-item routerLink="serch">ユーザー検索</a>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon>payment</mat-icon>
      <a mat-list-item routerLink="">お支払い</a>
    </mat-list-item>
  </mat-nav-list>
</mat-list>
